body{
    box-sizing: border-box;
    background-color: #FFFFFF;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}